body {
  width: 98vw;
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(85, 220, 220, 0.518);
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 20%;
  height: initial;
  border: 2px solid black;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  background-color: rgba(151, 151, 151, 0.268);
  box-shadow: 1px 1px 10px rgba(106, 106, 106, 0.342);
}

.weatherInfo {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 10%;
  height: initial;
  border: 2px solid black;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

h4{
    text-align: center;
}

.line{
    visibility: hidden;
    width: 80%;
    height: 3px;
    transform: translateX(1);
    background-color: black;
}


small{
  position: absolute;
  top: 90vh;
}